
    <div class="container" ng-app="fsListBot" ng-controller="mailsCtrl">
      <p ng-cloak ng-show="!loading" class="pull-right">
        <b>{{mails |  notdone}} E-Mails müssen noch beantwortet werden</b> ({{(mails).length}} Threads insgesamt).&nbsp;&nbsp;
        <span ng-show="(mails | notdone) === 0"><span class="glyphicon glyphicon-thumbs-up"></span> Sehr gut!</span>
      </p>
      <form class="form form-inline">
        <label for="monthSelect">
          <span class="glyphicon glyphicon-filter"></span> 
          E-Mails aus folgendem Monat anzeigen: &nbsp;
        </label>
	<select ng-model="selectedMonth" id="monthSelect">
	  <option ng-repeat="month in months">{{month}}</option>
	</select>
      </form>
      <div class="loading padding-bottom-20" ng-if="loading">
	<hr>
        <p>Crunching the latest data, just for you!</p>
	<div class="progress">
	  <div class="progress-bar progress-bar-striped active" role="progressbar">
	  </div>
	</div>
      </div>
      <ul class="list-group padding-top-15" ng-cloak ng-show="!loading">
        <li class="list-group-item" ng-repeat="mail in mails" ng:class="{true:'not-done', false:''}[!mail.done]">
          <h4>
            {{mail.subject}}&nbsp;&nbsp;
            <span ng-show="!mail.done" class="text-danger">
              <span class="glyphicon glyphicon-flag"></span>
              unbeantwortet
            </span>
          </h4>
          <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{mail.from.name}} &lt;{{mail.from.address}}&gt;<br />
          <span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;{{mail.date | moment}}
          <div class="padding-top-15"></div>
          <a class="no-underline" href="#collapse-{{mail.uid}}" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;
            Nachrichteninhalt
          </a>
          <span ng-show="mail.replies.length">
            &nbsp;&nbsp;&nbsp;<div class="padding-top-15 visible-xs"></div><a class="no-underline" href="#collapse-{{mail.normalizedSubject}}" data-toggle="collapse">
              <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;
              {{mail.replies.length}} weitere Nachrichten im Thread
            </a>
          </span>
          &nbsp;&nbsp;&nbsp;<div class="padding-top-15 visible-xs"></div><a class="no-underline btn btn-xs" ng:class="{true:'btn-warning', false:'btn-success'}[mail.done]" data-uid="{{mail.uid}}" ng-click="toggleThread(mail)">
            <span class="glyphicon" ng:class="{true:'glyphicon-remove', false:'glyphicon-ok'}[mail.done]"></span>&nbsp;
            als {{mail.done ? "offen" : "beantwortet"}} markieren
          </a>
          &nbsp;&nbsp;&nbsp;<div class="padding-top-15 visible-xs"></div><a class="no-underline btn btn-xs btn-default" data-uid="{{mail.uid}}" ng-click="removeThread(mail, $index)">
            <span class="glyphicon glyphicon-trash"></span>&nbsp;
            Thread löschen
          </a>
          <div class="padding-top-15"></div>
          <div class="collapse" id="collapse-{{mail.uid}}">
            <div class="mail-text">{{mail.text}}</div>
          </div>
          <div class="collapse" id="collapse-{{mail.normalizedSubject}}">
            <ul>
              <li class="padding-bottom-20" ng-repeat="reply in mail.replies">
                <b>{{reply.subject}}</b>
                &nbsp;&nbsp;<span class="label label-success" ng-show="reply.isReply">Antwort</span>
                <br />
                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{reply.from.name}} &lt;{{reply.from.address}}&gt;<br />
                <span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;{{reply.date | moment}}
                <div class="padding-top-15"></div>
                <a class="no-underline" href="#collapse-{{reply.uid}}" data-toggle="collapse">
                  <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;
                  Nachrichteninhalt
                </a>
                <div class="collapse" id="collapse-{{reply.uid}}">
                  <div class="mail-text">{{reply.text}}</div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <footer>
      <img src="das-wesen-der-informatik.png" id="wesen"id="wesen" />
      <div class="padding-bottom-20"></div>
    </footer>

    <a href="https://github.com/d120/FsListBot" class="hidden-xs"><img style="z-index: 9001; position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

    <script src="jquery-1.11.3.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="moment-with-locales.min.js"></script>
    <script src="bootstrap-datetimepicker.min.js"></script>
    <script src="jquery.konami.min.js" type="text/javascript"></script>
    <script src="jquery.transform2d.js" type="text/javascript"></script>
    <script src="frame_helper.js"></script>
    <script src="app.js"></script>

